<div class="section-cta">
    <div class="cta-row">
      <div class="cta-image"><img src="{{ 'sneakers123sneakers.png' | asset_url }}" loading="lazy" width="250" alt="" class=""></div>
      <div class="cta-text">
        <h6 class="">Your next sneaker is waiting for you<br></h6>
      </div>
      <div class="cta-button">
        <a href="/collections/all" class=" w-button">Shop Now</a>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "Homepage CTA",
    "presets": [
        {
            "category": "custom",
            "name":"Homepage CTA block"
        }
    ]
}
{% endschema %}

