<section>

</section>

{% schema %}
{
    "name": "homepage section 1",
    "settings": [
        {
            "type": "header",
            "content": "Contemt",
            "info": "Content"
        }
    ],
    "presets": [
        {
            "category": "custom",
            "name":"Homepage Section1"
        }
    ],
}
{% endschema %}

