<div class="_3-steps">
    <h2 class="heading-14-copy-copy">Just 3 steps</h2>
    <div class="c07_icon_wrap">
      <div class="c07_column"><img src="{{ 'ee24a03.gif' | asset_url }}" width="250" alt="" class="c07_icon">
        <h4 class="c07_h4">Step 1: Search for a sneaker.</h4>
        <p class="c07_paragraph">Use our search bar and filters to find a sneaker that you love! With over 60,000 sneakers to choose from you can&#x27;t go wrong.</p>
      </div>
      <div class="c07_column"><img src="{{ 'fd5d1a0.gif' | asset_url }}" width="250" alt="" class="c07_icon">
        <h4 class="c07_h4">Step 2: Select a sneaker that takes your fancy.</h4>
        <p class="c07_paragraph">After you have landed on a sneaker you like (or maybe a few sneakers). You can compare the prices among retailers and either proceed to checkout or add to your wishlist for later.</p>
      </div>
      <div class="c07_column"><img src="{{ '0aecf02.gif' | asset_url }}" alt="" class="c07_icon">
        <h4 class="c07_h4">Step 3: Place the order at your retailer of choice.</h4>
        <p class="c07_paragraph">Simply place the order at the retailer of your choice. Then simply sit back and relax, the retailer will ship your sneakers to you. </p>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "Homepage 3 steps",
    "presets": [
        {
            "category": "custom",
            "name":"Homepage 3 Stpes"
        }
    ]
}
{% endschema %}

