<div class="Container custom-wishlist-container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    <div class="custom-wishlist-products">
      <div class="wishlist-products-wrapper">
        <div id="wishlistItems" class="ProductList ProductList--grid  Grid">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div id="empty-wishlist" class="Container" style="display: none;">
  <div class="empty-content">
    <span class="heart"><i class="fa fa-heart-o"></i></span>
    <h1 class="empty-title">Your wishlist is empty</h1>
    <p>Find your next sneaker!<br>With over 60,000 sneakers to choose from you are spoilt for choice.</p>
    <a href="/collections/all" class="btn show-now">Show Now</a>
  </div>
</div>

<script src="{{ 'custom-wishlist.js' | asset_url }}"></script>