<div class="Container custom-wishlist-container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    <div class="custom-wishlist-products">
      <div class="wishlist-products-wrapper">
        <div id="wishlistItems" class="ProductList ProductList--grid  Grid">
          
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'custom-wishlist.js' | asset_url }}"></script>